<%-include('./partials/header.ejs')%>
<div class="main">
  <p class="heading"><b>Download Prefilled Data</b></p>
  <div class="left-right">
    <div class="left-side-download">
      <div class="assessment">
        <p style="text-align: center"><b>*Indicates mandatory fields</b></p>
        <br />
        <p>Select Assessment year <b>*</b></p>
        <select name="" class="select">
          <option value="select">Select</option>
        </select>
      </div>
    <br><br><br><br>
    <div class="income-btn" style="display: flex; justify-content: space-between;">
      <div>
        <button><a href="">< Back</a></button>
      </div>
      <div>
        <button><a href="">Download </a></button>
      </div>
    </div>
  </div>
    <div class="rigth-side-download">
      <p>
        <b>Information</b> <br />
        1.Pre-filled data will help in preparing your return easily and minimise data entry.<br>
        2.You may import the downloaded pre-filled data into the offline utility to prepare your return.<br>
        3.You will need to confirm the pre-filled data in various sections of your return.<br>
        4.You may edit the pre-filled data, if required.<br>
        5.In case of change in profile data, updated prefill Json file can be downloaded 30 min after the information update on portal.<br>
        6.Fresh Filing need to be resumed while importing updated prefill JSON (use of saved draft will not provide an updated information).
      </p>
    </div>
  </div>
</div>
<%-include('./partials/footer.ejs')%>
</body>
</html>