<footer>
  <style>
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(217, 217, 217);
      padding: 40px;
    }
  </style>
  <img src="./imgs/footer_img.svg" alt="logo" height="60px" />
  <div>
    <div>
      |<a href="#">Feedback</a>| |<a href="#">Website Policies</a>| |<a href="#"
        >Site Map</a
      >| |<a href="#">Browser Support</a>|
    </div>

    <p>
      This site is best viewed in 1024 * 768 resolution with latest version of
      Chrome, Firefox, Safari and Internet Explorer. <br />
      Copyright Ⓒ Income Tax Department, Ministry of Finance, Government of
      India. All Rights Reserved
    </p>
  </div>
</footer>
