<!DOCTYPE html>
<html>
<head>
    <title>Three-Level Dropdown Menu with CSS</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="income.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.csss"> -->
</head>
<body>
    <div class="logo">
        <img src="./imgs/logo.svg" alt="logo">
    </div>
    <div class="menu-bar">
        <ul>
            <li class="active"><a href="#">Dashbard</a></li>
            <li><a href="#">e-file </a>
                <div class="sub-menu-1">
                    <ul>     
                    <li class="hover-me"><a href="#">Income Tax Returns&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                        <div class="sub-menu-2">
                            <ul>     
                            <li class="sub"><a href="#">File Income Tax Return</a></li>
                            <li><a href="#">View Field Returns</a></li>
                            <li><a href="#">e-Verify Return</a></li>
                            <li class="sub"><a href="#">View Form 26AS</a></li>
                            <li><a href="#">Download Pre-Field Data</a></li>
                            <li><a href="#">View Annual Information Statement(AIS)</a></li>
                            </ul>
                </div></li>
                    <li class="hover-me"><a href="#">Incomr Tax Forms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></a>
                        <div class="sub-menu-2">
                            <ul>     
                            <li class="sub"><a href="#">File Income Tax Forms</a></li>
                            <li><a href="#">View Field Forms</a></li>
                            <li><a href="#">View 15CA Bulk Filed Forms Status</a></li>
                            </ul>
                </div></li>
                    <li ><a href="#">e-Pay Tax</a><i class="fa fa-angle-right"></i>
                        <li ><a href="#">Submit Tax Evasion Petition or Benami Propery holding</a><i class="fa fa-angle-right"></i>
                        </li></ul>
            <li><a href="#">Authorised Partners</a>
                <div class="sub-menu-1">
                    <ul>     
                    <li class="sub"><a href="#">My e-Return Intermediary</a></li>
                    <li><a href="#">My Chartered Accountant</a></li>
                    <li><a href="#">Register as Representative Assessee</a></li>
                    <li class="sub"><a href="#">Register to act on behalf of another person</a></li>
                    <li><a href="#">Authorize another person to act on behalf of self</a></li>
                    </ul>
        </div></li>
            <li><a href="#">Services</a>
                <div class="sub-menu-1">
                    <ul>     
                    <li class="sub"><a href="#">Tax Credit Mismatch</a></li>
                    <li><a href="#">Rectification</a></li>
                    <li><a href="#">Refund Reissue</a></li>
                    <li class="sub"><a href="#">Rectification of Order passed by CIT(A)</a></li>
                    <li><a href="#">Generate Electronic Verification Code(EVC)</a></li>
                    <li><a href="#">View/Download e-PAN</a></li>
                    <li><a href="#">Manage ITD Peporting Entity identification Number(ITDREIN)</a></li>
                    <li class="sub"><a href="#">Condonation Request</a></li>
                    </ul>
        </div></li>
            <li><a href="#">AIS</a></li>
            <li><a href="#">Penting Actions</a>
                <div class="sub-menu-1">
                    <ul>     
                    <li class="sub"><a href="#">Worklist</a></li>
                    <li><a href="#">Responce to Outstanding Demand</a></li>
                    <li><a href="#">e-Proceedings</a></li>
                    <li class="sub"><a href="#">Reporting Portal</a></li>
                    <li><a href="#">Compliance Portal</a></li>
                    </ul>
        </div></li>
            <li><a href="#">Grievances</a>
                <div class="sub-menu-1">
                    <ul>     
                    <li class="sub"><a href="#">Submit Grievance</a></li>
                    <li><a href="#">View Grievance Status</a></li>
                    </ul>
        </div></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>




