<%-include('./partials/header.ejs');%>
    <div class="dashboard">
        <div class="left_dash ">
            <div class="user_box side_box">
                <h3>Welcome Back,<span>Name</span></h3>
                <div class="img_profile">
                    <img src="./imgs/user_pro.png" height="100px" alt="user profile">
                    <div class="details">
                        <h4>AWTP7865p</h4>
                        <h4>XXXXXXXXX0987</h4>
                        <h4>1234567890</h4>
                        <h4>dev@gamil.com</h4>
                    </div>
                </div>
                <div class="contact_d">
                    <h4>Contact Details</h4><a class="dash_links" href="#">Update</a>
                </div>
                <div class="contact_d">
                    <h4>Bank account</h4><a class="dash_links" href="#">Update</a>
                </div>
                <div class="contact_d">
                    <h4>Your account is not secure with e-vault</h4><a class="dash_links" href="#">Secure Account</a>
                </div>
            </div>
            <div class="side_box detail_box">
                <h2>Income & Tax Estimator</h2>
            </div>
            <div class="side_box tax_calender">
                <h2>Tax calender</h2>
            </div>
            <div class="side_box activity_log">
                <h2>Activity Log</h2>
            </div>

        </div>
        <div class="right_dash">
        <div class="right1">
            <img  width="800px" src="./imgs/dash.png" alt="j">
        </div>
        <!-- <div class="tax_deposite rigth  right2">
           <h3> Tax Deposit</h3>
        </div>
        <div class="recent rigth rigth3">
            <h3>Recent Filed Returns</h3>
        </div>
        <div class="recent_form rigth right3">
            <h3>Recent Form Field</h3>
        </div> -->
        </div>
    </div>

    <%-include('./partials/footer.ejs');%>
    </body>